<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parkingadmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity_thanhtoan" android:label="Thanh toán" android:parentActivityName=".activity_mondachon"/>
        <activity android:name=".activity_setupban" android:label="Lập bàn" android:parentActivityName=".activity_ban"/>
        <activity android:name=".activity_mondachon" android:label="Các món đã chọn" android:parentActivityName=".activity_menu_food" />
        <activity android:name=".activity_ban"  android:label="Danh sách bàn" android:parentActivityName=".MainMenu"/>
        <activity android:name=".activity_menu_food" android:label="Danh sách món"  />
        <activity android:name=".MainMenu" android:label="Menu" />
        <activity android:name=".MainActivity" android:label="Đăng nhập">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>